body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    display: flex;
    font-family: cursive;
    font-size: xx-large;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
}

header h1 {
    margin: 0;
}


.contact-icon {
    text-decoration: none;
    color: white;
}

.contact-icon img {
    width: 24px;
    height: 24px;
}

nav {
    background-color: black;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 20px;
    background-color: black;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

.image-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: black black; 
    scrollbar-width: thin; 
}

.image-list:hover {
    overflow-x: scroll;
}

.image-item {
    margin: 10px;
    flex: 0 0 auto;
}

.image-item img {
    max-width: 100px;
    border-radius: 8px;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: black;
}
